* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-main-grid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 600px;
    width: 600px;
    max-width: 600px;
    max-height: 600px;
    background-color: red;
}

.grid-element {
    background-color: aliceblue;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 0;
    width: 0;
}